h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 220px;
    font-weight: bold;
    -webkit-text-stroke: 0.05px rgb(213, 112, 226);
}

.image-box {
    border: 2px solid #ccc;
    padding: 100px;
    margin-top: 20px;
}

.image-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50%;
    max-height: 8%;
    max-width: 12%;
}