/*
    #   Author: Corso Montuori
    #   Date: 3/4/2024
    #   Version: 1.1    
*/

body, html {
    height: 100%;
    margin: 0;
}

#submit-btn{
    background-color: rgb(213, 112, 226);
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#song-input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    width: 200px;
}

#bkg {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1;
    background-size: cover;
}

body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}



.centered{
    text-align: center;
}

h1 {
    background-color: black;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-top: 220px;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
}



form {
    text-align: center;
}

