<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Broken</title>
    </head>
        <body>
            <h1 style="color: red; text-decoration: underline">Page No Longer Operating</h1>
            <p> 
                Due to Spotify API no longer allowing (from December 2024) access to their 
                audio_features() method from Spotify web API to grab 
                values from songs, this page is no longer operational.
            </p>
            <h2> The source code from when it was working can be accessed here: </h2>
            <a href="https://github.com/Corsionio/SongMoods" target="_blank">SongMoods GitHub Repository</a>
        </body>