<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Linking my CSS File here -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/songStyles.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Song page</title>
        <style> </style>
    </head>
    <body>
        <div class = "centered">
            <h1>{{song}}</h1>
        </div>
        <div class = "image-box">
            {% if image_url %}
            <img src="{{image_url}}" alt="Spotify Image">
            {%else%}
                <p> No Image Available </p>
            {%endif%}
        </div>
        
        <div class="side-rectangle left-rectangle"></div>
        <div class="side-rectangle right-rectangle"></div>

        <script>
            var red = {{red}}
            var blue = {{blue}}
            var green = {{green}}

            var backColor= 'rgb(' + 
                ((red) & 255) + ',' +
                ((green) & 255) + ',' + 
                ((blue) & 255) + ')';

            document.body.style.backgroundColor = backColor;

        </script>
    </body>
</html>